body {
  margin: 0;
  max-width: none;
  background-color: #FFF2E6;
}

/* å©èoÇµ */
h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 40px;
}

/* ñ{ï∂ */
p {
  line-height: 1.8;
  margin-bottom: 20px;
}

/* ÉäÉìÉN */
a,
a:visited,
a:hover {
  color: #FF7800;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}
